@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Thasadith');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e6e9f0;
  overflow-x: hidden;
}

input {
  background: none;
}

fieldset {
  display: flex;
  background: #fff;
  padding: 10px 0 20px 0;
}

.main {
  max-width: 700px;
  margin: 0 auto;
}

.section {
  font-family: 'Thasadith', sans-serif;
  color: #777;
  font-size: 1.2em;
  width: 100%;
}

.heading {
  height: 70px;
  padding: 20px;
  color: #feb386;

  text-align: center;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.heading_small{
  height: initial;
  margin: 0;
}

.heading_left{
  text-align: left;
  padding: 0;
}

.paragraph{
  margin: 0 10px;
}

.paragraph__description{
  font-style: 90%;
}

.paragraph__pic{
  width: 40%;
}

.paragraph__pic:nth-child(2){
  width: 20%;
}

.paragraph__pic img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.paragraph_section{
  display: flex;
}

.welcome-description{
  border-bottom: dashed 1px grey;
  padding-bottom: 30px;
}

.author{
  border-bottom: dashed 1px grey;
  border-top: dashed 1px grey;
  padding: 30px 0;
  font-size: 90%;
}

.btn{
  width: 127px;
  height: 33px;
  outline: none;
  border-radius: 2em;
  border: solid 1px #ccc;
  font-size: .9em;
  margin: 0 auto;
}
.btn:hover{
  background: #feb386;
  color: #fff;
  border-color: #feb386;
}

.text-center{
  text-align: center;
}

@media (max-width: 550px) {
  .paragraph_section{
    display: block;
  }

  .paragraph__pic img{
    width: 216px;
  }

  .paragraph__pic{
    margin: 0 auto;
  }
}