@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

.btn_large {
  width: 224px;
}

.icon {
  font-size: 7em;
  text-align: center;
}

.icon:hover {
  color: #feb386;
}

.download-wrapper {
  display: flex;
  flex-direction: column;
}

.dowload-text{
  text-align: center;
}

.download-btn {
  background: none;
  border: none;
  color: #ccc;
  outline: none;
}

.generated-code{
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: .7em;
  line-height: 1.5em;
  padding: 20px;
  background: #fff;
  border-radius: 0 100px 0 0;
}
